<div class="col-sm-12 header-sp">
    <div class="row filterdonhang">
        <div class="col-md-2">
            <input [(ngModel)]="start" name="start" type="date" class="form-control">
        </div>
        <div class="col-md-2">
            <input [(ngModel)]="end" name="end" type="date" class="form-control">
        </div>
        <div class="col-md-3">
            <select [(ngModel)]="type" name="type" class="form-control">
                <option value="-1">Loại thanh toán</option>
                <option value="MOMO">Thanh toán bằng momo</option>
                <option value="COD">Thanh toán khi nhận hàng</option>
            </select>
        </div>
        <div class="col-md-3">
            <select [(ngModel)]="trangthai" name="trangthai" class="form-control">
                <option value="-1">Trạng thái đơn hàng</option>
                <option [value]="o" *ngFor="let o of trangthais">{{o}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <button (click)="loadInvoice()" class="btn btn-gradient form-control"><i class="fa fa-filter"></i> Lọc</button>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="wrapper">
        <table id="example" class="table table-striped tablefix">
            <thead class="thead-tablefix">
                <tr>
                    <th>Mã đơn hàng</th>
                    <th class="floatr">Ngày đặt</th>
                    <th>Địa chỉ</th>
                    <th class="floatr">Giá trị<br>đơn hàng</th>
                    <th>Trạng thái thanh toán</th>
                    <th class="floatr">Trạng thái vận chuyển</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody id="listinvoice">
                <tr *ngFor="let o of invoices">
                    <td>{{o.id}}</td>
                    <td>{{o.createdTime}}<br>{{o.createdDate}}</td>
                    <td>{{o.address}}</td>
                    <td>{{formatMoney(o.totalAmount)}}</td>
                    <td>
                        <span *ngIf="o.payType === 'MOMO'" class="dathanhtoan">Đã thanh toán</span>
                        <span *ngIf="o.payType === 'COD'" class="chuathanhtoan">Thanh toán khi nhận hàng(COD)</span>
                    </td>
                    <td>{{o.statusInvoice}}</td>
                    <td class="sticky-col">
                        <i (click)="loadChiTietInvoice(o)" data-bs-toggle="modal" data-bs-target="#modaldeail" class="fa fa-eye iconaction"></i>
                        <i (click)="setTrangThai(o.statusInvoice, o.id)" data-bs-toggle="modal" data-bs-target="#capnhatdonhang" class="fa fa-edit iconaction"></i><br>
                    </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




<div class="modal fade" id="capnhatdonhang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật trạng thái đơn hàng</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body">
                <input type="hidden" id="iddonhangupdate">
                <select class="form-control" [(ngModel)]="trangThaiUpdate" name="trangThaiUpdate">
                    <option [value]="o" *ngFor="let o of trangthais">{{o}}</option>
                </select><br><br>
                <button (click)="capNhatTt()" class="btn btn-primary form-control action-btn">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modaldeail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-sm-down modeladdres">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết đơn hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row headerdetail">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <br><span>Ngày tạo: <span class="yls" id="ngaytaoinvoice">{{order?.createdTime}} {{order?.createdDate}}</span></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <br><span>Trạng thái thanh toán: <span class="yls" id="trangthaitt">
                            <span class='Paid' *ngIf="order?.payType === 'MOMO'">Đã thanh toán</span>
                            <span class='UnPaid' *ngIf="order?.payType === 'COD'">Thanh toán khi nhận hàng (COD)</span>
                        </span></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <br><span>Trạng thái vận chuyển: <span class="yls" id="ttvanchuyen">{{order?.statusInvoice}}</span></span>
                    </div>
                </div>
                <div class="row shipinfor">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <span class="ttshipinfor">Địa chỉ giao hàng</span>
                        <div class="blockinfor">
                            <p class="tennguoinhan" id="tennguoinhan">{{order?.receiverName}}</p>
                            <span>Địa chỉ: <span id="addnhan">{{order?.address}}</span></span>
                            <br><span class="phoneacc">Số điện thoại: <span
                                    id="phonenhan">{{order?.phone}}</span></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <span class="ttshipinfor">Thanh toán</span>
                        <div class="blockinfor">
                            <span id="loaithanhtoan">
                                <span class='Paid' *ngIf="order?.payType === 'MOMO'">Đã thanh toán</span>
                            <span class='UnPaid' *ngIf="order?.payType === 'COD'">Thanh toán khi nhận hàng (COD)</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <span class="ttshipinfor">Ghi chú</span>
                        <div class="blockinfor">
                            <span id="ghichunh">{{order?.note}}</span>
                        </div>
                    </div>
                </div><br><br>
                <table class="table table-cart table-order" id="detailInvoice">
                    <thead class="thead-default theaddetail">
                        <tr>
                            <th>Sản phẩm</th>
                            <th></th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Tổng</th>
                        </tr>
                    </thead>
                    <tbody id="listDetailinvoice">
                        <tr *ngFor="let detail of orderDetails">
                            <td><img [src]="detail.product.imageBanner" class="imgdetailacc"></td>
                            <td>{{detail.product.name}}</td>
                            <td>{{formatMoney(detail.price)}}</td>
                            <td class="sldetailacc">{{detail.quantity}}</td>
                            <td class="pricedetailacc yls">{{formatMoney(detail.price * detail.quantity)}}</td>
                        </tr>
                    </tbody>
                </table><br><br><br><br>
            </div>
        </div>
    </div>
</div>