<div class="col-sm-12 header-sp">
    <div class="row form-container">
        <div class="col-md-2 col-sm-4 col-4 form-group">
            <input  [(ngModel)]="from" name="from" type="date" class="form-control">
        </div>
        <div class="col-md-2 col-sm-4 col-4 form-group">
            <input  [(ngModel)]="to" name="to" type="date" class="form-control">
        </div>
        <div class="col-md-4 col-sm-12 col-12 form-group">
            <select  [(ngModel)]="idproduct" name="idproduct" class="form-control">
                <option value="-1">Chọn sản phẩm</option>
                <option [value]="n.id" *ngFor="let n of products">{{n.name}}</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-4 col-4 form-group">
            <button (click)="loadInvoice()" class="btn btn-primary btn-custom">Lọc</button>
        </div>
        <div class="col-md-2 col-sm-4 col-4 form-group">
            <a href="/admin/addimportproduct" class="btn btn-success btn-custom">Thêm đơn nhập</a>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="wrapper">
        <table id="example" class="table table-striped tablefix">
            <thead class="thead-tablefix">
                <tr>
                    <th>id đơn nhập</th>
                    <th>sản phẩm</th>
                    <th>Số lượng nhập</th>
                    <th>giá nhập</th>
                    <th>Ngày nhập</th>
                    <th>Thông tin</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody id="listImport">
                <tr *ngFor="let n of nhaphangs">
                    <td>{{n.id}}</td>
                    <td>{{n.product.name}}</td>
                    <td>{{n.quantity}}</td>
                    <td>{{formatMoney(n.importPrice)}}</td>
                    <td>{{n.importTime}}, {{n.importDate}}</td>
                    <td [innerHTML]="n.description"></td>
                    <td class="sticky-col">
                        <i (click)="delete(n.id)" class="fa fa-trash-alt iconaction"></i>
                        <a href="/admin/addimportproduct?id={{n.id}}"><i class="fa fa-edit iconaction"></i></a><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>