<div id="menu">
    <nav class="navbar navbar-expand-lg navmain">
        <div class="container">
          <a class="navbar-brand" href="index">
            <img src="image/logo3.jpg" style="width: 50px; height: 50px; border-radius: 50%;" class="logoheader" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                     <a class="nav-link navlight" href="index">
                     <i class="fas fa-home"></i> Trang chủ</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link navlight" href="blog">
                     <i class="far fa-newspaper"></i> Bài viết</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link navlight" href="product">
                     <i class="fas fa-coffee"></i> Sản Phẩm</a>
                 </li>
             </ul>
          </div>
          <div class="d-flex">
            <form action='product' class="searchheader">
                <input name='search' placeholder="Tìm kiếm?" class="inputsearchheader" />
                <button class="btnsearchheader"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="d-flex">
            <span *ngIf="isLoggedIn" class="nav-item dropdown pointermenu gvs navlight">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="far fa-user-circle"></i> Tài khoản
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="account">Trang Cá Nhân</a></li>
                  <li><a class="dropdown-item" href="#" (click)="logout()">Đăng xuất</a></li>
                </ul>
            </span>
            <ng-container *ngIf="!isLoggedIn">
                <a href="login" class="pointermenu gvs">
                  <i class="fa fa-sign-in-alt"></i> Đăng nhập
                </a>
                <a href="regis" class="pointermenu gvs">
                  <i class="fa fa-user-plus"></i> Đăng ký
                </a>
            </ng-container>
          </div>
          <div class="d-flex">
          <a href="cart" class="pointermenu gvs"><i class="fa fa-shopping-bag"><span id='totalcartheader' class="cart-total">{{numCart}}</span></i></a>
          </div>
        </div>
    </nav>
</div>
<div class="contentweb">
    <router-outlet></router-outlet>
</div>
<div id="footer">
    <footer class="text-center text-lg-start text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block"><span>Theo Dõi Chúng Tôi Tại:</span></div>
            <div>
            <a href="" class="me-4 text-reset"><i class="fab fa-facebook-f" style="color: #3b5998;"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-twitter" style="color: #00acee;"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-google" style="color: #db4437;"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-instagram" style="color: #e4405f;"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-linkedin" style="color: #0e76a8;"></i></a>
            <a href="" class="me-4 text-reset"><i class="fab fa-github" style="color: #171515;"></i></a>
            </div>
        </section>
        <section class="">
            <div class="text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>Male Fashion</h6>
                <p>
                    Chúng Tôi Cung Cấp Dịch Vụ Thời Trang Giá Rẻ Cho Nam, Nữ Giới Trẻ Với Phong Cách Bắt Kịp Trend Hiện Nay
                </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Sản Phẩm</h6>
                <p><a href="#!" class="text-reset hover-underline">Uy Tín</a></p>
                <p><a href="#!" class="text-reset hover-underline">Chất Lượng</a></p>
                <p><a href="#!" class="text-reset hover-underline">Nguồn Gốc Rõ Ràng</a></p>
                <p><a href="#!" class="text-reset hover-underline">Giá Rẻ</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Dịch Vụ</h6>
                <p><a href="#!" class="text-reset hover-underline">24/7</a></p>
                <p><a href="#!" class="text-reset hover-underline">Bảo Hành 6 Tháng</a></p>
                <p><a href="#!" class="text-reset hover-underline">Free Ship</a></p>
                <p><a href="#!" class="text-reset hover-underline">Lỗi 1 Đổi 1</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Liên Hệ</h6>
                <p><i class="fas fa-home me-3"></i> Hà Nội, Việt Nam</p>
                <p><i class="fas fa-envelope me-3"></i> </p>
                <p><i class="fas fa-phone me-3"></i> +01 234 567 88</p>
                <p><i class="fas fa-print me-3"></i> +01 234 567 89</p>
                </div>
            </div>
            </div>
        </section>
    </footer>
</div>