<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/menu.js"></script>
    <script src="js/cart.js"></script>
    <script src="js/checkout.js"></script>
    <script src="js/account.js"></script>
    <script>
        window.onload = function(){
            loadMenu();
            loadAllCart();
            loadInforUserCart();
        }
    </script>
</head>
<body>
<div id="menu"></div>
<div class="contentweb">
    <div class="container">
        <div class='container'>
            <img src="image/banner2.jpg" class='bannercart'/>
        </div>
        <div class="container divcart">
                <div class="row">
                    <div class="col-sm-8">
                        <div class='ttcart'>
                        <p class="tintuctieude">Giỏ hàng <span class="soluonggiohang">( <span id="soluonggiohang"></span> ) sản phẩm</span></p>
                        <hr/>
                        <table class="table tablecart">
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                            </tr>
                            <tbody id="listcartDes">
                                <!-- <tr>
                                    <td>
                                        <a href=""><img class="imgprocart" src="image/banner2.jpg"/></a>
                                        <div class="divnamecart">
                                            <a href="" class="nameprocart">sp soos 21</a>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="boldcart">55.000d</p>
                                    </td>
                                    <td>
                                        <div class="clusinp"><button class="cartbtn"> + </button>
                                            <input class="inputslcart" value="2"/>
                                            <button class="cartbtn"> - </button></div>
                                    </td>
                                    <td>
                                        <div class="tdpricecart">
                                            <p class="boldcart">50.000d</p>
                                            <p class="delcart"><i class="fa fa-trash facartde"></i></p>
                                        </div>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="ttcart">
                            <div class="tongdon">
                                <span class="tds">Tổng đơn: </span><span class="tonggiatien" id="tonggiatien">45000</span>
                                <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btnthanhtoan">Thanh toán</button>
                            </div>
                            <p class="freeship">MIỄN PHÍ VẬN CHUYỂN VỚI MỌI ĐƠN HÀNG TRÊN WEBSITE</p>
                            <p>Mọi đơn hàng trên hệ thống sẽ được trừ thẳng vào sản phẩm sau khi nhận hàng</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thanh toán đơn hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class='row'>
                        <div class='col-sm-6'>
                            <span class="titlecheckout">Thông tin giao hàng</span>
                            <label class='lbcheckout'>Họ tên người nhận</label>
                            <input id="fullname" class="form-control fomd" placeholder="Họ tên"/>

                            <label class='lbcheckout'>Số điện thoại người nhận</label>
                            <input id="phone" class="form-control fomd" placeholder="Số điện thoại"/>

                            <label class='lbcheckout'>Địa chỉ người nhận</label>
                            <input id="diachinhan" class="form-control fomd" placeholder="Tên đường, số nhà"/>

                            <label class='lbcheckout'>Ghi chú nhận hàng</label>
                            <textarea id="ghichudonhang" class="form-control fomd" placeholder="ghi chú"></textarea>
                        </div>
                        <div class='col-sm-6'>
                            <span class="titlecheckout">Loại hình thanh toán</span>
                            <table class="table table-borderless">
                                <tr>
                                    <td><label class="radiocustom">
                                            <input value="momo" id="momo" type="radio" name="paytype" checked/>
                                            <span class="checkmark"></span></label></td>
                                    <td><label for="momo">Thanh toán qua Ví MoMo</label></td>
                                    <td><img src="image/momo.webp" class="momopay"/></td>
                                </tr>

                                <tr>
                                    <td><label class="radiocustom">
                                            <input value="cod" id="code" type="radio" name="paytype"/>
                                            <span class="checkmark"></span></label></td>
                                    <td><label for="code">Thanh toán khi nhận hàng (COD)</label></td>
                                    <td><i class="fa fa-money paycode"></i></td>
                                </tr>
                            </table>
                            <hr>
                            <table class='table table-borderless'>
                                <tr>
                                    <td><span class="">Tổng tiền phải thanh toán</span></td>
                                    <td><span class="tongtienthanhtoan" id="tongtienthanhtoan"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="checkout()" type="button" class="btn btn-primary">Xác nhận đặt hàng</button>
                </div>
                </div>
            </div>
            </div>
    </div>
</div>
<div id="footer"></div>
</body>
</html>